html, body {
  margin: 0;
  padding: 0;
  background: #000;
}
canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}


/* body { */
  /* background-color: rgb(0, 0, 0); */

  /* leave it to hide the scrollbars */
  /* overflow: hidden; */
  /* margin: 0; */
  /* justify-content: center; */
  /* align-items: center; */
  /* display: flex; */
/* } */

html, body {
  height: 100%;
}
  
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
#mainCanvas {
  position: absolute; 
  z-index: 0; 
  margin: auto; 
  top: 0; 
  left: 0; 
  background-color: transparent;
  /* border: 2px solid black; */
}

#p5_loading {
  display:none;
}